    text-align: center;
}

.pair__wrapper,
.platform__wrapper {
    text-align: center;
    margin-top: 1rem;
}


.platform__select {
    width: 200px;
}


.pair__select {
    width: 180px;
}


.time__select {
    width: 120px;
}

#result {
    border: none;
    font-size: x-large;
    background: none;
}

#signal {
    position: relative;
    color: white;
    border: none;
    font-size: large;
    cursor: pointer;
    padding: .5rem 1rem;
    border: none;
    background: #9e0b1d;
}

#trade__wrapper {
    text-align: center;
    margin-top: 2rem;
}

#center {
    text-align: center;
}

#signal:disabled {
    background: grey;
}

.rem__time {
    color: white;
    font-size: .65rem;
    margin-top: .5rem;
}

@media (min-width: 300px) {
    #content__wrapper {
        width: 350px;
    }
}

::-webkit-scrollbar {
    width: 0px;
}
